[Desktop Entry]
Type=Application
Version=1.0
Name=LaCie LightScribe Labeler 4L
Comment=LaCie LightScribe Optical Media Labeling Software
Exec=4L-gui
Icon=/opt/lacie-lightscribe-labeler/icons/lacie-lightscribe-labeler.png
Terminal=false
Categories=Graphics;System;
